@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');




.logo{
    font-family: 'Poppins', sans-serif;
}

*{
    font-family: 'Poppins', sans-serif;
}
.active{
    color: #C48C46;
}

.carousel-status, .carousel .thumbs{
    display: none;
}

h1, h2, h3, h4, h6, span{
    font-family: "Playfair Display", serif;
}

input[type="range"] {
    accent-color: #9D6824;
  }

.dashboard .active{
    color: black
}
.dashboard a:hover{
    color: black
}


.StripeElement{
    border: 1px solid #80808061;
    padding: 8px 0px;
    border-radius: 4px;
}